.box {
	@extend %bgc;
	position: relative;
	margin-bottom: 30px;
	height: 250px;

	&.m-b1 { margin-bottom: 1px; }

	&-link {
		@extend %bg-animation-s;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		color: $white;
		text-align: center;
		&:hover { background-color: rgba($red, .8);	}
		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
	}
	&-text {
		display: inline-block;
		vertical-align: middle;
		font-size: $h3-fz;
		font-weight: 700;
		text-transform: uppercase;
		padding-bottom: 5px;
		border-bottom: 1px solid $white;
	}

	@include respond-to('upto-sm') {
		&-text {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}